body{
    margin: 20px;
}
.task-manager{
    border: 1px solid black;
    width: 350px;
    padding: 10px;
    background-color: bisque;
}
.sort-filter{
    padding: 10px 0;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
}
.sort{
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}
.filter{
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    padding: 0 20px;
}
.task{
    width: 300px;
    min-height: 150px;
    border: 1px solid black;
    padding:  5px 20px 20px 20px;
    position: relative;
    border-radius: 20px;
    margin: 10px 0;
    background-color: antiquewhite;

}
.description{
    padding: 10px 0;
    max-height: 200px;
    overflow-y: scroll;
    margin: 12px 12px 0 0;
}
.task-footer{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.close{
    position: absolute;
    width: 22px;
    height: 22px;
    text-align: center;
    right: 0;
    top: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    border: 1px solid black;
    margin: 8px;
    cursor: pointer;
}
.button-status{
    width: 55px;
    height: 26px;
    cursor: pointer;

}
.date {

}